---
import '../styles/cards.css';
const CDN_IMAGE = import.meta.env.CDN_URL;
---

<section class="my-5">
  <div class="flex flex-col mt-1 md:mt-0">
    <h2 class="text-4xl md:text-xl lg:text-5xl font-bold lg:tracking-tight">
      Inge Gatovsky
    </h2>
    <h3 class="italic text-2xl text-zinc-900 md:text-xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      "the best breaking production"
    </h3>
    <p class="text-xl mt-4 text-slate-600">
      Would you like to know more? <br />
      Inge Gatovsky is a Computer Science student and Cloud Engineer with a passion for Linux, DevOps & ML..., <br/>
      Also, writes cheap love poems 🩷
    </p>
  </div>

</section>
<section class="container1 w-full h-full">
  <article class="container-cards justify-center w-max h-max">
      <div class="cards1">
          <div class="cards-item">
              <img src={`${CDN_IMAGE}/images/c1.webp`} loading="eager" alt="talenland24">
          </div>
          <div class="cards-item">
              <img src={`${CDN_IMAGE}/images/c2.webp`} loading="eager" alt="itcancun">
          </div>
          <div class="cards-item">
              <img src={`${CDN_IMAGE}/images/c3.webp`} loading="eager" alt="tajamar">
          </div>
          <div class="cards-item">
              <img src={`${CDN_IMAGE}/images/c4.webp`} loading="eager" alt="jon maddog">
          </div>
          <div class="cards-item">
            <img src={`${CDN_IMAGE}/images/c5.webp`} loading="eager" alt="genius arena 2024">
          </div>
          <div class="cards-item">
            <img src={`${CDN_IMAGE}/images/c6.webp`} loading="eager" alt="birthday">
          </div>
          <div class="cards-item">
            <img src={`${CDN_IMAGE}/images/c7.webp`} loading="eager" alt="genius arena 2024">
          </div>
          <div class="cards-item">
            <img src={`${CDN_IMAGE}/images/c8.webp`} loading="eager" alt="flutter app">
          </div>
          <div class="cards-item">
            <img src={`${CDN_IMAGE}/images/c9.webp`} loading="eager" alt="gatovsky">
          </div>
      </div>
  </article>
  <script src="../scripts/cards.js"></script>
</section>
