---
interface Props {
  url: string;
  title: string;
  thumbnail: string;
  issuer: string;
}

import Image from 'astro/components/Image.astro';
const { url, title, thumbnail, issuer } = Astro.props;
---

<div class=" flex flex-col text-center items-center p-4">
    <a href={url} target="_blank" class="decoration-inherit cursor-pointer">
        <Image
        src={thumbnail}
        alt={title}
        width={100}
        height={100}
        class="rounded-lg w-full md:w-28 m-4"
        loading="lazy"
        />
        <div >
        <h3 
        class="text-lg font-semibold text-gray-800">{title}</h3>
        </div>
        <p class="text-md">{issuer}</p>
    </a>
</div>

