---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import cv from "@cv";
import {formatDate} from "@utils/dateFormatter";
import Link from "@components/ui/link.astro";

const { slug } = Astro.params;
const project = cv.projects.find((proj) => proj.name.toLowerCase().replace(/\s+/g, '-') === slug);

if (!project) {
  throw new Error(`Project not found for slug: ${slug}`);
}

const date = formatDate(project.date, "year"); // year, year-month, year-month-day
---

<Layout title={project.name}>
  <Container>
    <section class="w-full flex flex-col content-center items-center mt-16 ">
      <div class="w-full min-h-full max-w-2xl flex flex-col items-start gap-3">
          <div class="content-center">
            <div class="flex content-center items-center">
              <a href="/portfolio" class="transition ease-in-out duration-300 hover:-translate-y-1 hover:scale-110">Back</a>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="m10 17l5-5m0 0l-5-5" />
                </svg>
              </span>
              <h1 class="text-lg md:text-xl md:text-2-xl">{project.name}</h1>
              <div>
                <span class="text-sm font-medium ml-2 bg-blue-200 text-blue-800 border border-blue-300 rounded-md px-0.5 md:px-1.5 py-0.5">{date}</span>
              </div>
            </div>
            <div class="pt-10 pb-10">
              <a set:html={project.content}></a>
            </div>
              <ul class="custom-list pl-5">
                {
                  project.features.map((feature) => (
                    <li class="text-muted-foreground text-slate-500 text-md sm:text-normal pb-2">{feature}</li>
                  ))
                } 
              </ul>
          </div>
          <!-- pills -->
          <div class="text-sm font-medium pt-10">
            <ul>
              <li class="grid grid-cols-[2fr_4fr] gap-2 mb-2">
                <div>
                  <span class="uppercase" >Platform</span>
                </div>
                <div>
                  <span class="bg-blue-200 text-blue-800 border border-blue-300 rounded-md px-1.5 py-0.5">{project.platform}</span>
                </div>
              </li>
              <li class="grid grid-cols-[2fr_4fr] gap-2 mb-2">
                <div>
                  <span class="uppercase" >Stack</span>
                </div>
                <div>
                    {
                      project.stack.map((item) => (
                        <div class="inline-block py-1">
                          <span class="bg-blue-200 text-blue-800 border border-blue-300 rounded-md px-1.5 py-0.5 mr-4">{item}</span>
                        </div>
                      ))
                    }
                </div>
              </li>
              <li class="grid grid-cols-[2fr_4fr] gap-2 mb-2">
                <div class="ms-px">
                  <span class="uppercase">Demo</span>
                </div>
                {
                  project.demo ? (
                    /^(http|https):\/\/[^\s$.?#].[^\s]*$/.test(project.demo) ? (
                      <div>
                      <a href={project.demo} target="_blank" rel="noopener noreferrer" class="transition bg-blue-200 text-blue-800 border border-blue-300 rounded-md px-1.5 py-0.5 hover:text-blue-300 hover:bg-blue-800 hover:-translate-y-1 hover:scale-110">
                        Click here to view 
                      </a>
                    </div>
                    ) : (
                      <div>
                        <span class=" bg-gray-200 text-blue-800 border border-blue-300 rounded-md px-1.5 py-0.5">Not available</span>
                      </div>
                    )
                  ) : (
                    <div>
                      <span class="bg-gray-200 text-blue-800 border border-blue-300 rounded-md px-1.5 py-0.5">Not available</span>
                    </div>
                  )
                }
              </li>
              <li class="grid grid-cols-[2fr_4fr] gap-2 mb-2">
                <div>
                  <span class="uppercase">Source</span>
                </div>
                <div>
                  {
                    project.source ? (
                      /^(http|https):\/\/[^\s$.?#].[^\s]*$/.test(project.source) ? (
                        <a href={project.source} target="_blank" rel="noopener norreferer" class="transition bg-blue-200 text-blue-800 border border-blue-300 rounded-md px-1.5 py-0.5 hover:text-blue-300 hover:bg-blue-800 hover:-translate-y-1 hover:scale-110">
                          View on GitHub
                        </a>
                      ) : (
                        <span class="bg-gray-200 text-blue-800 border border-blue-300 rounded-md px-1.5 py-0.5">Not available</span>
                      )
                    ) : (
                      <span class="bg-gray-200 text-blue-800 border border-blue-300 rounded-md px-1.5 py-0.5">Not available</span>
                    )
                  }
                </div>
              </li>
            </ul>
        </div>
      </div>
      <!-- Carousel -->
      <div id="custom-controls-gallery" class="lex flex-col relative items-center justify-center content-center py-10 w-full lg:w-3/4 mx-auto" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-64 overflow-hidden rounded-lg md:rounded-xl md:h-96 lg:h-[38rem] lg:rounded-2xl mx-auto">
          {
            project.images.map((image) =>(
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src={image}
                class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                loading="eager"
                alt={project.name}
              />
            </div>
            ))
          }
        </div>
        <div class="flex justify-center items-center pt-4">
            <button type="button" class="flex justify-center items-center me-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="text-slate-400 hover:text-slate-900 dark:hover:text-white group-focus:text-slate-900 dark:group-focus:text-white">
                    <svg class="rtl:rotate-180 w-5 h-5"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="flex justify-center items-center h-full cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="text-slate-400 hover:text-slate-900 dark:hover:text-white group-focus:text-slate-900 dark:group-focus:text-white">
                    <svg class="rtl:rotate-180 w-5 h-5"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
      </div>
    </section>
  </Container>
</Layout>


<style>

.custom-list {
    list-style-image: url('/images/bullet.svg');
  }
</style>